
{{#each data}}
<div class="entry">
    <div class="score_item">
        <p class="name">Name: {{name}}</p>
        <p class="email">Email: {{email}}</p>
        <p class="score">Score: {{score}}</p>
        <p class="percentage">Percentage: {{percentage}}</p>
        <p class="time">Time: {{time}}</p>
    </div>
</div>
{{/each}}

