<div class="entry">
    <div class="user_item">
        <p class="name">{{name}}</p>
        <p class="email">{{email}}</p>
        <p class="score">{{score}}</p>
        <p class="percentage">{{percentage}}</p>
        <p class="time">{{time}}</p>
    </div>
</div>